.navbar-fluid {
  background-color: #198754;
  margin-bottom: 20px;
}
.navbar {
  display: flex;
  margin: auto;
}
.navbar__logo {
  width: 50%;
}
.navbar__menu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.navbar__menu-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.navbar__menu-links li {
  
  font-size: 1.2em;
  list-style: none;
  font-family: "Gill Sans", sans-serif;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.search-button {
  border: none;
  background: transparent;
}
